/* Reset */
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000000;
  font-family: "Latin Modern Roman", "Computer Modern Serif",
               "Times New Roman", Times, serif;
  font-size: 16px;
}

/* Main page layout */
.page {
  width: 720px;                 /* classic academic text width */
  margin-left: 80px;            /* strong left margin like IAM */
  margin-top: 60px;
}

/* Name header */
h1 {
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 1.2em;
}

/* Paragraph text */
p {
  line-height: 1.6;
  margin-bottom: 1.2em;
}

/* Links */
a {
  color: #0000cc;               /* classic academic blue */
  text-decoration: none;
}
/* Section headers */
h2 {
  font-size: 1.2em;
  font-weight: normal;
  margin-top: 2em;
  margin-bottom: 0.6em;
}

/* Lists */
ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 1em;
}

/* Publications list */
.pubs li {
  margin-bottom: 1.5em;
}


a:hover {
  text-decoration: underline;
}
